<span #element contenteditable="true" (blur)="onEdit(element.textContent)">{{content}}</span>
<button class="ce-drag-btn" (mousedown)="startDrag()" *ngIf="!moveDisabled">Move</button>
<button class="ce-remove-btn" (mousedown)="remove()" *ngIf="!removeDisabled">Remove</button>
