<p class="font-weight-bold"><ce-widget [widget]="song" property="author" moveDisabled="true" removeDisabled="true"></ce-widget> - <ce-widget [widget]="song" property="name" moveDisabled="true" removeDisabled="true"></ce-widget></p>
<p *ngFor="let songLine of song.children" class="ce-song-line" id="{{songLine.id}}">
    <span *ngFor="let accord of songLine.children" class="ce-accord" [ngStyle]="{left: accord.properties.offset}"><ce-widget [widget]="accord" property="content"></ce-widget></span>
    <ce-widget [widget]="songLine" property="content" class="ce-song-line__content"></ce-widget>
    <button type="button" class="btn btn-primary btn-sm ce-editor-btn" (click)="addAccord(songLine)">Add accord</button>
</p>