<div class="container">
    <div class="row">
        <label class="btn btn-primary btn-sm ce-btn__upload">
            <input type="file" (change)="onChange($event)" />Upload a song</label>
    </div>
    <div class="row" *ngIf="song">
        <button type="button" class="btn btn-primary btn-sm margin-right-10px" (click)="saveToFile()">Download the song</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="toggleEditorHelpers()">Toggle editor helpers</button>
    </div>
    <hr/>
    <div class="row" *ngIf="song" [ngClass]="{'ce-helpers-disabled': !helpersEnabled}">
        <div class="col">
            <ce-content [song]="song"></ce-content>
            <button type="button" class="btn btn-primary btn-sm ce-editor-btn" (click)="addLine()">Add line</button>
        </div>
    </div>
</div>