.ce-btn__upload input[type="file"] {
    display: none;
}

.ce-accord {
    position: absolute;
    top: -1rem;
}

.ce-song-line {
    position: relative;
}

.ce-drag-btn {
    position: absolute;
    width: 32px;
    height: 12px;
    top: -10px;
    left: 0;
    background-color: green;
    cursor: move;
    font-size: 12px;
    line-height: 1;
    padding: 0 1px;
    border: 0;
    opacity: 0.8;
}

.ce-remove-btn {
    position: absolute;
    width: 45px;
    height: 12px;
    top: -10px;
    left: 32px;
    background-color: red;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
    padding: 0 1px;
    border: 0;
    opacity: 0.8;
}

ce-widget {
    position: relative;
}

.ce-drag-helper {
    width: 50px;
    height: 20px;
    background-color: green;
    position: absolute;
    display: none;
    pointer-events: none;
}

.ce-drag-active {
    cursor: move !important;
}

.ce-drag-active .ce-song-line:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    top: -20px;
}

.btn.ce-editor-btn {
    font-size: 12px;
    padding: 2px 9px;
    line-height: 1;
    border-radius: 0;
    opacity: 0.8;
}

.ce-song-line__content {
    padding-right: 10px;
}

.ce-song-line__content>.ce-drag-btn {
    left: auto;
    right: -32px;
}

.ce-song-line__content>.ce-remove-btn {
    left: auto;
    right: -80px;
}

.margin-right-10px {
    margin-right: 10px;
}

.ce-helpers-disabled .ce-drag-btn {
    display: none;
}

.ce-helpers-disabled .ce-remove-btn {
    display: none;
}

.ce-helpers-disabled .btn {
    display: none;
}